@model ZapatillaFilterVm
@using X.PagedList
@using X.Web.PagedList

@{
    ViewData["Title"] = "Listado de Zapatillas";
}

@Html.AntiForgeryToken()//Faltaba esto Joder!!!
    <div class="row mb-3">
        <div class="col-6">
            <h3>Listado de Zapatillas</h3>

        </div>
        <div class="col-6 text-end">
            <a asp-controller="Zapatillas" asp-action="UpSert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                Nuevo
            </a>
        </div>
    </div>
    <form method="get" class="form-inline" asp-action="Index">
        <div class="d-flex flex-row align-items-center">
            <div class="col-auto mx-1">
                <label for="pageSize">Show:</label>
            </div>
            <div class="col-auto mx-2">
                <select class="form-select" id="pageSize" name="pageSize" onchange="this.form.submit()" style="width:70px">
                    @{
                        var options = new List<int> { 5, 10, 15, 20 };
                        foreach (var option in options)
                        {
                            if (ViewBag.currentPageSize == option)
                            {
                                <option selected value="@option">@option</option>
                            }
                            else
                            {
                                <option value="@option">@option</option>
                            }
                        }
                    }
                </select>
            </div>
        <div class="col-auto">
            Order By:
        </div>
        <div class="col-auto">
            <select class="form-select" id="orderBy" name="orderBy" onchange="this.form.submit()">
                <option selected="@(ViewBag.currentOrderBy=="Descripcion"?"Selected":null)" value="Description">Descripcion</option>
                <option selected="@(ViewBag.currentOrderBy=="Modelo"?"Selected":null)" value="Modelo">Modelo</option>
                <option selected="@(ViewBag.currentOrderBy=="Marca"?"Selected":null)" value="Marca">Marca</option>
                <option selected="@(ViewBag.currentOrderBy=="Genero"?"Selected":null)" value="Genero">Genero</option>
                <option selected="@(ViewBag.currentOrderBy=="Deporte"?"Selected":null)" value="Deporte">Deporte</option>
                <option selected="@(ViewBag.currentOrderBy=="Colores"?"Selected":null)" value="Colores">Color</option>

            </select>
        </div>
        <div class="col-auto mx-2">
            Marca:
        </div>
        <div class="col-auto mx-2" style="width: 200px;">
            <select class="form-select" name="filterMarcaId" id="filterMarcaId">
                <option disabled selected value="0">Select Marca</option>
                @{
                    foreach (var item in Model.Marca!)
                    {
                        if (ViewBag.currentFilterId == int.Parse(item.Value))
                        {
                            <option selected value="@item.Value">@item.Text</option>
                        }
                        else
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="col-auto mx-2">
            Color:
        </div>

        <div class="col-auto mx-2" style="width: 200px;">
            <select class="form-select" name="filterColorId" id="filterColorId">
                <option disabled selected value="0">Select Color</option>
                @{
                    foreach (var item in Model.Color!)
                    {
                        if (ViewBag.currentFilterId == int.Parse(item.Value))
                        {
                            <option selected value="@item.Value">@item.Text</option>
                        }
                        else
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="col-auto d-flex">
            <button type="submit" class="btn btn-primary mx-2">
                <i class="bi bi-search"></i> Search
            </button>
            <button type="submit" class="btn btn-secondary" id="viewAll" name="viewAll" value="true">
                <i class="bi bi-list"></i> View All
            </button>
        </div>
    </div>
</form>
               


    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width:20%">Descripcion</th>
                <th style="width:10%">Modelo</th>
                <th style="width:10%">Precio</th>
                <th style="width:15%">Marca</th>
                <th style="width:15%">Deporte</th>
                <th style="width:15%">Color</th>
                <th style="width:15%">Genero</th>
                <th style="width:25%">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Zapatilla!.Any())
            {
                foreach (var item in Model.Zapatilla!)
                {
                    <tr id="@item.ZapatillaId">
                        <td>
                            @item.Description

                        </td>
                        <td>
                            @item.Modelo
                        </td>
                        <td>
                            @item.Precio
                        </td>
                        <td>
                            @item.Marca
                        </td>
                        <td>
                            @item.Deporte
                        </td>
                        <td>
                            @item.Color
                        </td>
                        <td>
                            @item.Genero
                        </td>

                        <td>
                            <a class="btn btn-warning" asp-controller="Zapatillas" asp-action="UpSert" asp-route-id="@item.ZapatillaId">
                                <i class="bi bi-pencil-square"></i>&nbsp;
                                Edit
                            </a>
                            <a onclick="Delete('/Zapatillas/Delete/@item.ZapatillaId',@item.ZapatillaId)" class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center">
                        F?uck!!! No Zapatilla have been added yet!

                    </td>
                </tr>

            }
        </tbody>
    </table>
    <div class="d-flex">
    @Html.PagedListPager(Model.Zapatilla, page => Url.Action("Index", new { page, pageSize = ViewBag.currentPageSize, orderBy = ViewBag.currentOrderBy}), new PagedListRenderOptions
   {
       UlElementClasses = new[] { "pagination" },
       LiElementClasses = new[] { "page-item" },
       PageClasses = new[] { "page-link" },
       DisplayLinkToIndividualPages = true,
       DisplayPageCountAndCurrentLocation = false,
       MaximumPageNumbersToDisplay = 10
   })
    </div>

</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">

        function Delete(url, id) {
            Swal.fire({
                title: `Are you sure you want to delete ?`,
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'POST',
                        headers: {
                            'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                        },
                        success: function (data) {
                            if (data.success) {
                                var row = document.getElementById(id);
                                row.remove();
                                toastr.success(data.message)
                            }
                            else {
                                toastr.error(data.message)
                            }
                        }
                    })
                }
            });
        }
    </script>
}